body {
  margin: 0;
  padding: 0;
}
.login {
  text-align: center;
}

.page__container {
  border: none;
  margin-top: 0;
}

.login .subtitle {
  padding: 2rem 0 0 0;
}

.login input {
  margin: 0.5rem 0;
}

.login .submit__login {
  text-align: center;
}

@media all and (min-width: 1024px) {
  .page__container {
    margin-top: 2rem;
    border: 1px solid darkgrey;
    border-radius: 10px;
  }
}

.transaction-list__item {
  border-bottom: 1px solid darkgrey;
  padding: 0.5rem;
}

.transaction-list {
  list-style-type: none;
}

.transactions__controls {
  display: flex;
  justify-content: space-between;
}

.transaction-list__container article,
.analytics-list__container article{
  max-height: 400px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  overflow: hidden;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
  
}

#myAnalyticsChart, #myTransactionChart {
  max-width: 500px;
  max-height: 500px;
  margin: 2rem auto;
  margin-bottom: 2rem;
}

.panel-heading {
  border-top-right-radius: 0;
}
